/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  margin: 40px;
}
body {
  margin: 0;
  padding: 0;
  background: url("~src/assets/background.svg");
}
